<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyApplication.My.MySettings.pharmacySQLConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=pharmacy;User ID=thienphat;Password=chauhue"
            providerName="System.Data.SqlClient" />
        <add name="MyApplication.My.MySettings.factManagementConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=factManagement;Persist Security Info=True;User ID=thienphat;Password=chauhue"
            providerName="System.Data.SqlClient" />
        <add name="MyApplication.My.MySettings.posprinterConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=posprinter;Persist Security Info=True;User ID=thienphat;Password=chauhue"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup> 
   
  
    <userSettings>
        <MyApplication.My.MySettings>
            <setting name="pharmacySQLConnectionStringUserOverride" serializeAs="String">
                <value />
            </setting>
            <setting name="factManagementConnectionStringUserOverride" serializeAs="String">
                <value />
            </setting>
            <setting name="posprinterConnectionStringUserOverride" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_dbName_01" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_dbName_02" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_dbName_03" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_dbLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_dbPass" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_dbSource" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_sysLang" serializeAs="String">
                <value>vi</value>
            </setting>
            <setting name="setting_printer_MySelf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_printer_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_printer_Logo_Opt_01" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_printer_Logo_Opt_02" serializeAs="String">
                <value>285</value>
            </setting>
            <setting name="setting_printer_Logo_Opt_03" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setting_printer_Logo_Opt_04" serializeAs="String">
                <value>\Resources\Logo.bmp</value>
            </setting>
            <setting name="setting_printer_Line_Opt_01" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="setting_printer_Line_Opt_02" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="setting_printer_Line_Opt_03" serializeAs="String">
                <value>7</value>
            </setting>
        </MyApplication.My.MySettings>
    </userSettings>
</configuration>